
body{
    background-image:url("WhatsApp Image 2025-07-24 at 21.02.15.jpeg") ;
    height:700px;
    background-size: contain;
    background-repeat:no-repeat;
    font-family: 'Roboto';
    font-size: 22px;
}
h1{
    color:white;
    margin-left:100px;
    
   

}
h3{
    color:white;
    font-weight:bolder;
  
}
p{
   
color:white;
font-size: medium;

 
 
}

button{
    background-color: rgb(244, 173, 42);
    font-size:20px;
    color:white;
    margin-left:130px;
   
    
}
a{
    color: white;
    font-size:medium;
    margin-left:80px
    
    
}

